[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
	branch = master
